# Stata Package Requirements
# Format: package_name,install_source,install_command
# Sources: ssc, net, github
estout,ssc,ssc install estout
reghdfe,ssc,ssc install reghdfe
ftools,ssc,ssc install ftools
coefplot,ssc,ssc install coefplot
ivreg2,ssc,ssc install ivreg2
outreg2,ssc,ssc install outreg2
winsor2,ssc,ssc install winsor2
distinct,ssc,ssc install distinct
missings,ssc,ssc install missings
stata_linter,ssc,ssc install stata_linter
ipaclean,github,github install PovertyAction/ipaclean
ipaplots,github,github install PovertyAction/ipaplots
